@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
:root {
	--color: #009ac7;
}
body {
	background-color: black;
	color: white;
	margin: 0 auto;
	max-width: 800px;
}
div, pre, h1, h2, p {
	font-family: 'DM Mono', monospace;
}
h1, h2, p {
	margin: 0 1rem;
  font-weight: normal;
}
h1 {
	font-size: 32px;
	margin-bottom: 0.5rem;
}
h2 {
	font-size: 24px;
  margin-bottom: 0.25rem;
  color: #eee;
}
p {
	margin-bottom: 2rem;
  line-height: 1.75;
  text-indent: 4ch;
  color: #ccc;
}
.no-indent {
  text-indent: 0;
}
div {
  color: #ccc;
}
pre {
  font-size: 14px;
  color: cyan;
}
a {
	color: var(--color);
	text-decoration: none;
}
ul, ol {
  font-family: 'DM Mono', monospace;
  color: #ccc;
}
li {
  margin-bottom: 0.5rem;
}
form {
	font-family: 'DM Mono', monospace;
	margin: 0 1rem;
  color: #ccc;
}
input, select, textarea {
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	background-color: black;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 16px;
	font-family: 'DM Mono', monospace;
	padding: 0.5rem;
  max-width: 100%;
}
.check {
  display: block;
  position: relative;
  padding-left: 1.6rem;
  padding-right: 0.8rem;
  margin: 2px 1px;
  cursor: pointer;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  /* transition: all 0.2s ease-in-out; */
}
.check:hover input ~ .checkmark {
  background-color: #333;
}
.check input:checked ~ .checkmark {
  background-color: var(--color);
}
.check input:disabled ~ .checkmark {
  background-color: #333;
  border: 1px solid #333;
  cursor: not-allowed;
}
textarea {
  width: 100%;
}
.vid {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 2em;
}
.vid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.btn {
	margin: 1rem auto;
	padding: 0.5rem;
	min-width: 200px;
	max-width: 300px;
	border: 2px solid transparent;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
  border-radius: 4rem;
  background-color: var(--color);
  color: black;
}
.btn:hover {
	border-color: white;
	transition: 0.1s;
}
.hook {
	text-align: center;
	margin: 0 auto;
}
.profile {
	display: flex;
	margin: 0 auto;
	width: fit-content;
	align-items: center;
}
.profile-back {
	width: 164px;
	height: 164px;
	background-image: url('/res/processing.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
  border-radius: 50%;
}
.profile-pic {
	width: 66.666%;
	height: auto;
	border-radius: 50%;
	display: block
}
.threes {
  /* margin: 0 auto; */
  width: 400px;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ddd;
  /* justify-content: space-between; */
}
.third {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  height: 32px;
  flex-grow: 1;
  margin: 0 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}
.thabel {
  /* position: absolute; */
  text-align: center;
  color: #ccc;
}
.svg-inline {
  height: 100%;
}
#calender {
	display: flex;
	flex-wrap: wrap;
}
.day {
	flex-grow: 1;
	margin: 0.25rem;
	border: 1px solid;
}
.date {
	padding: 0.25rem;
	border-bottom: 1px solid #333;
}
.hours {
	margin: 0.25rem;
  display: flex;
  justify-content: space-around;
}
#footer {
	margin-bottom: 1rem;
	margin-top: 6rem;
	font-size: 13px;
	text-align: center;
	color: #808080;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    text-indent: 2ch;
    line-height: 1.5;
  }
  .threes {
    font-size: 1.5rem;
    width: 100%;
  }
  .third {
    height: 32px;
    margin: 0;
    font-size: 16px;
  } 
}