@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,300&display=swap');
:root {
	--color: #009ac7;
  --black: rgb(16, 16, 16);
  --dark: rgb(64, 64, 64);
  --gray: rgb(128, 128, 128);
  --light: rgb(192, 192, 192);
  --white: rgb(240, 240, 240);
}
body {
	background-color: var(--gray);
	color: var(--black);
	margin: 0 auto;
	max-width: 800px;
}
div, pre, h1, h2, h3, p {
	font-family: 'DM Mono', monospace;
}
h1, h2, h3, p {
	margin: 0 1rem;
  font-weight: normal;
}
h1 {
	font-size: 32px;
	margin-bottom: 0.75rem;
  color: var(--white);
}
h2 {
	font-size: 24px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.5rem;
  color: var(--light);
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: var(--black);
}
p {
	margin-bottom: 2rem;
  line-height: 1.75;
  color: var(--black);
}
.no-indent {
  text-indent: 0;
}
div {
  color: var(--black);
}
@font-face {
  font-family: "IBM";
  src: url("/res/Web437_IBM_VGA_8x16.woff") format("woff");
}
pre {
  padding: 16px;
  background-color: var(--black);
  color: var(--color);
  font-family: "IBM", monospace;
  font-size: 16px;
  position: relative;
  animation: flicker 1.6s infinite;
  box-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}
@keyframes flicker {
  0% { text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  5% { text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  10% { text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  15% { text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  20% { text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  25% { text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  30% { text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  35% { text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  40% { text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  45% { text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  50% { text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  55% { text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  60% { text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  65% { text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  70% { text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  75% { text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  80% { text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  85% { text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  90% { text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  95% { text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  100% { text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
}
pre::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
a {
	color: var(--white);
  /* var(--color); */
	text-decoration: none;
}
ul, ol {
  font-family: 'DM Mono', monospace;
  color: var(--light);
}
li {
  margin-bottom: 0.5rem;
}
form {
	font-family: 'DM Mono', monospace;
	margin: 0 1rem;
  color: var(--light);
}
input, select, textarea {
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	background-color: var(--black);
	border: 1px solid var(--light);
	color: var(--light);
	font-size: 16px;
	font-family: 'DM Mono', monospace;
	padding: 0.5rem;
  max-width: 100%;
}
.check {
  display: block;
  position: relative;
  padding-left: 1.6rem;
  padding-right: 0.8rem;
  margin: 2px 1px;
  cursor: pointer;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 50%;
  /* transition: all 0.2s ease-in-out; */
}
.check:hover input ~ .checkmark {
  background-color: #333;
}
.check input:checked ~ .checkmark {
  background-color: var(--color);
}
.check input:disabled ~ .checkmark {
  background-color: #333;
  border: 1px solid #333;
  cursor: not-allowed;
}
textarea {
  width: 100%;
}
.home {
  /* nav += `<img src="/favicon/favicon-32x32.png" width="32px" style="margin: 1rem">` */
  background-image: url('/res/cube.gif');
  background-size: 500%;
  background-position: center;
  width: 64px;
  height: 64px;
  mix-blend-mode: screen;
  /* margin: 1rem; */
}
.vid {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 2em;
}
.vid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.row {
  display: flex; 
  align-items: center;
  margin-bottom: 0.5rem;
}
.row div {
  /* font-weight: bold; */
  font-size: 18px;
  color: var(--white) !important;
}
.row2column .vid {
  padding-bottom: 28.125%;
}
.btn {
	margin: 1rem auto;
  margin-left: 1rem;
	padding: 0.5rem;
	min-width: 200px;
	max-width: 300px;
	border: 2px solid transparent;
	cursor: pointer;
	text-align: center;
  user-select: none;
	font-size: 20px;
  border-radius: 4rem;
  background-color: var(--color);
  color: var(--black);
}
.btn:hover {
	border-color: var(--white);
	transition: 0.1s;
}
.hook {
	text-align: center;
	margin: 0 auto;
}
.panel {
  border-bottom: 2px solid var(--gray);
  /* background-color: var(--color); */
  /* border-radius: 2rem; */
  /* padding: 1rem 0;  */
}
.panel:hover {
  box-shadow: inset 0 0 1rem 0rem var(--color);
  transition: 0.1s;
}
.panel-img {
  height: 256px; 
  margin-bottom: -2rem; 
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
}
.banner {
  height: 256px;
  background-size: cover;
  background-position: center;
}
.spacer {
  width: 4px;
  height: auto;
  margin: 0.75rem 0.5rem;
  background-color: rgb(27, 27, 27);
}
.stripe {
  background: var(--color);
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  height: 4rem;
  z-index: -10;
  /* border-top: 4px solid #f9ffcd1c; */
}
.profile-pic {
	width: 200px;
  margin: 1rem;
	height: auto;
	border-radius: 50%;
	display: block;
  /* mix-blend-mode: difference; */
  border: 4px solid var(--gray);
}
.threes {
  /* margin: 0 auto; */
  width: 400px;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ddd;
  /* justify-content: space-between; */
}
.third {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  height: 32px;
  flex-grow: 1;
  margin: 0 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}
.thabel {
  /* position: absolute; */
  text-align: center;
  color: var(--light);
}
.svg-inline {
  height: 100%;
}
.link {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #666;
}
.link img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.link-desc {
  margin-left: 48px;
}
.link:hover img {
  /* background-color: white; */
  /* mix-blend-mode: color-dodge; */
}
.quick-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid #666;
  /* box-shadow: 0 0 0.5rem 0 var(--light) inset; */
  border-radius: 50%;
}
.quick-link img {
  width: 24px;
  height: 24px;
  /* margin-right: 0.5rem; */
}
#email {
  float: right; 
  margin-right: 1rem; 
  font-family: sans-serif;
  background-color: var(--color);
  color: var(--white);
  font-size: 18px;
  border: none;
}
.project {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 6rem;
  position: relative;
}
.project-vid {
  width: 100%;
  height: 200px;
  object-fit: cover;
  right: 0;
  bottom: 0;
  /* cursor: pointer; */
}
.project-txt {
  /* box-shadow: inset 0px 0px 0px 6px #fff; */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  line-height: 150px;
  text-align: center;
  font-size: 48px;
  mix-blend-mode: difference;
  color: #f1f1f1;
  padding: 20px;
  user-select: none;
  pointer-events: none;
}
.project-year {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 0 1rem;
}
.project-power {
  text-align: right;
}
#calender {
	display: flex;
	flex-wrap: wrap;
}
.day {
	flex-grow: 1;
	margin: 0.25rem;
	border: 1px solid;
}
.date {
	padding: 0.25rem;
	border-bottom: 1px solid #333;
}
.hours {
	margin: 0.25rem;
  display: flex;
  justify-content: space-around;
}
#footer {
  font-family: monospace;
	margin-bottom: 1rem;
	margin-top: 6rem;
	/* font-size: 13px; */
	text-align: center;
	color: var(--light);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    /* text-indent: 2ch; */
    line-height: 1.5;
  }
  .threes {
    font-size: 1.5rem;
    width: 100%;
  }
  .third {
    height: 32px;
    margin: 0;
    font-size: 16px;
  } 
  .btn {
    margin: 1rem auto;
  }
  .profile-pic {
    width: 128px;
    height: auto;
  }
  .row2column {
    flex-flow: column;
  }
  .row2column .vid {
    padding-bottom: 56.25%;
  }
  .spacer {
    display: none;
  }
}

input:focus, textarea:focus, select:focus{
  outline: none;
}